<main class="container" style="background-color: #FFF7F0">
    <!-- navigation bar -->
    <div id="nav-placeholder" style="padding-bottom: 10px;"></div>

    <hr style="height: 1px; border: none; background-color: #E8D1C5;">

    <section class="progress-section">
        <p id="step-subtitle" class="booking-section-subtitle">SELECT YOUR DATES</p>
        <div class="stepper">
            <div class="step active">
                <div class="circle">1</div>
                <span>Booking Details</span>
            </div>
            <div class="step">
                <div class="circle">2</div>
                <span>Room & Rate Selection</span>
            </div>
            <div class="step">
                <div class="circle">3</div>
                <span>Payment</span>
            </div>
            <div class="step">
                <div class="circle">4</div>
                <span>Confirmation</span>
            </div>
        </div>
    </section>

    <section id="step-1" class="booking-details-section booking-step" style="margin-bottom: -50px;">

        <section class="form-section">
            <div class="booking-card">
                <h2>Booking Details</h2>
                <form class="booking-form" id="booking-form" data-room-id="{{room.id}}"
                    data-room-price="{{room.price}}">
                    <div class="booking-form-group">
                        <label for="checkInDate">Check-in Date *</label>
                        <input type="date" id="checkInDate" name="checkInDate" required>
                    </div>
                    <div class="booking-form-group">
                        <label for="checkOutDate">Check-out Date *</label>
                        <input type="date" id="checkOutDate" name="checkOutDate" required>
                    </div>
                    <div class="booking-form-group">
                        <label for="adultGuests">Adult Guests *</label>
                        <input type="number" id="adultGuests" name="adultGuests" min="1" placeholder="Number of Adults"
                            value="1" required>
                    </div>
                    <div class="booking-form-group">
                        <label for="childGuests">Child Guests *</label>
                        <input type="number" id="childGuests" name="childGuests" min="0"
                            placeholder="Number of Children" value="0" required>
                    </div>
                    <div class="booking-form-group full-width">
                        <label for="roomsCount">Room *</label>
                        <input type="number" id="roomsCount" name="roomsCount" min="1" max="5"
                            placeholder="Number of Rooms" value="1" required>
                    </div>
                </form>
            </div>
        </section>

        <section class="navigation-section">
            <button type="button" class="btn" onclick="location.href='/user/home'">Back to Home</button>
            <button class="btn" onclick="goToStep(2)">Continue</button>
        </section>

    </section>

    <section id="step-2" class="room-selection-section booking-step" style="display:none;">
        <div class="selection-header">
            <h3>All Stays Include:</h3>
            <p>
                Daily breakfast. Daily afternoon tea at the Clubhouse. In-room refreshments and non-alcoholic beverages.
                Daily scheduled wellnes class (advance booking required). Daily morning snorkelling trip from the beach
                (to
                be provided on a first come, first serve basis). Access to wellness facilities including Yoga pavilion
                and Pilates studio, steam room, cold plunge pool and fitness centre.
            </p>
        </div>

        <div class="room-selection-section">
            <div class="room-cards">
                <div class="room-card">
                    <div class="room-image">
                        {{!-- Use the first image from the array --}}
                        <img src="{{room.imageUrl.[0]}}" alt="{{room.roomName}}">
                    </div>
                    <div class="room-info">
                        <div class="room-title-row">
                            <h3>{{room.roomName}}</h3>
                            <div class="price-box">
                                <p>₱{{formatPrice room.price}}/night</p>
                            </div>
                        </div>
                        <p>{{room.description}}</p>
                        <div class="room-specs" style="display: flex; gap: 15px; margin-top: 10px;">
                            <span class="room-details" style="display: flex; align-items: center; gap: 5px;">
                                <img src="/img/sqm.png" alt="icon" width="20">
                                <p style="margin: 0;">{{room.sqm}}sqm</p>
                            </span>
                            <span class="room-details" style="display: flex; align-items: center; gap: 5px;">
                                <img src="/img/guests.png" alt="icon" width="20">
                                <p style="margin: 0;">{{room.maxGuests}}</p>
                            </span>
                            <span class="room-details" style="display: flex; align-items: center; gap: 5px;">
                                <img src="/img/bed.png" alt="icon" width="20">
                                <p style="margin: 0;">{{room.beds}}</p>
                            </span>
                            <span class="room-details" style="display: flex; align-items: center; gap: 5px;">
                                <img src="/img/bath.png" alt="icon" width="20">
                                <p style="margin: 0;">{{room.bath}}</p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-section">
            <button class="btn" onclick="goToStep(1)">Back</button>
            <button class="btn" onclick="goToStep(3)">Continue</button>
        </div>
    </section>

    <section id="step-3" class="payment-section booking-step" style="display: none;">
        <div class="payment-container">
            <div class="payment-method-card">
                <h3>Payment Method</h3>
                <div class="payment-options">
                    <label class="payment-option">
                        <input type="radio" name="payment" value="card">
                        <span class="custom-radio"></span>
                        Credit / Debit Card
                    </label>
                    <label class="payment-option">
                        <input type="radio" name="payment" value="hotel" checked>
                        <span class="custom-radio"></span>
                        Pay at Hotel
                    </label>
                </div>

                <div id="credit-card-details" style="display: none;">
                    <div class="input-row">
                        <div class="input-group">
                            <label>Card Number *</label>
                            <input type="text" id="cardNumber" placeholder="1234 5678 9012 3456">
                        </div>
                        <div class="input-group">
                            <label>Expiry Date *</label>
                            <input type="text" id="expiryDate" placeholder="MM/YY">
                        </div>
                        <div class="input-group">
                            <label>CVV *</label>
                            <input type="text" id="cvv" placeholder="123">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label>Billing Address </label>
                            <input type="text" id="billingAddress" placeholder="1 Taft Avenue">
                        </div>
                    </div>

                    <p> For security reasons, you my be asked to present the credit card used for verification during
                        check-in.</p>

                    <div class="input-row" style="margin-top: 30px">
                        <div class="input-group special-request">
                            <label>Special Request </label>
                            <textarea id="specialRequest" placeholder="Others" rows="5"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <div class="booking-summary-card">
                <h3>Booking Summary</h3>
                <div class="summary-details">
                    <div class="summary-row">
                        <span>Guest Room subtotal</span>
                        <span id="step3-subtotal">₱0.00</span>
                    </div>
                    <div class="summary-row">
                        <span>Other fees</span>
                        <span id="step3-fees">₱0.00</span>
                    </div>
                    <hr>
                    <div class="summary-total">
                        <span>Total</span>
                        <span class="total-price" id="step3-total">₱0.00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="navigation-section">
            <button class="btn" onclick="goToStep(2)">Back</button>
            <button class="btn" onclick="goToStep(4)">Continue</button>
        </div>
    </section>

    <section id="step-4" class="confirmation booking-step" style="display: none;">

        <div class="confirmation-container">
            <div class="confirmation-card">
                <h3>Booking Summary</h3>

                <div class="confirmation-details">
                    <div class="confirm-room-img">
                        <img id="step4-img" src="{{room.imageUrl.[0]}}" alt="{{room.roomName}}">
                    </div>

                    <div class="confirm-stay-info">
                        <h4>{{room.roomName}}</h4>
                        <div class="date">
                            <p id="step4-checkin">Arriving: </p>
                            <p id="step4-checkout">Departing: </p>
                        </div>
                        <div class="guests">
                            <p id="step4-adults">Adults: </p>
                            <p id="step4-children">Children: </p>
                        </div>
                    </div>
                </div>

                <hr class="summary-divider" style="height: 1px; border: none; background-color: #452829;">

                <div class="final-pricing">
                    <div class="summary-row">
                        <span>Guest Room Subtotal</span>
                        <span id="step4-subtotal">₱0.00</span>
                    </div>
                    <div class="summary-row">
                        <span>Other fees</span>
                        <span id="step4-fees">₱0.00</span>
                    </div>
                    <div class="summary-total">
                        <span>Total</span>
                        <span class="total-price" id="step4-total">₱0.00</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation-section">
            <button class="btn" onclick="goToStep(3)">Back</button>
            <button type="button" class="btn" id="complete-booking-btn">Complete Booking</button>
        </div>

    </section>

    <script src="/scripts/booking.js"></script>

</main>